/*UNIVERSAL START*/
*{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: black;
}

.active{
  color:blue;
}
/*UNIVERSAL END*/

/*NAV START*/
.container{
  width: 85%;
  margin: 0 auto;
}

.header{
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-top: 15px;
}

.nav{
  display: flex;
  flex-direction: column-reverse;
}

.nav-item{
  font-size: 24px;
}
/*NAV END*/

/*HOME START*/

.home-heading{
  text-align: center;
  font-size: 24pt;
}

.home-photo{
  width:650px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*HOME END*/

/*ABOUT START*/

.about-container{
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.headshot{
  width: auto;
  height:350px;
}

.about-paragraph{
  margin-left: 5%;
  font-size: 20pt;
}

.about-hr{
  margin: 30px 0;
}

.about-hr{
  width: 100%;
  color: black;
}

/*skills staart*/
.skills-img{
  width: 10%;
  height: auto;
}

/*skills end*/

/*ABOUT END*/

/*RESUME*/
.resume{
  margin: 25px 0;
}

/*RESUME*/

/*PROJECT START*/
.project-nav{
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}

.project-name{
  margin: 0 15px;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image{
  width:75%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.project-description{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 75%;
  height:100px;
  background-color: lightgrey;
  text-align: center;
}

/*PROJECT END*/

@media(min-width: 750px){
  .header, .nav{
    flex-direction: row;
  }

  .header{
    border-bottom: 1px solid lightblue;
  }

  .nav a{
    margin: 0 15px;
    justify-content: space-between;
  }

  .nav a:first-child{
    margin-left: 0px;
  }

  .site-logo{
    margin-left: auto;
  }
  /*PROJECTS START*/
  .projects{
    flex-direction: row;
    justify-content: center;
  }
  .project-image{
    width: 65%;
    height: 300px;
  }
  .project-description{
    width: 35%;
    height:300px;
    /*display: none;*/
  }
  /*PROJECTS END*/
}
