/*UNIVERSAL START*/
*{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: black;
}

.active{
  color:#00AEEF;
}
/*UNIVERSAL END*/

/*NAV START*/
.container{
  width: 85%;
  margin: 0 auto;
}

.header{
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 2rem;
  border-bottom: 2px solid #00AEEF;

}

.nav{
  display: flex;
  flex-direction: column;
}

.nav-item{
  font-size: 28px;
  margin-bottom: .5rem;
  font-family: 'Source Sans Pro', sans-serif;
}
/*NAV END*/

/*HOME START*/

.home-heading{
  text-align: center;
  font-size: 24pt;
}

.home-photo{
  width:650px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*HOME END*/

/*ABOUT START*/

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.headshot{
  width: auto;
  height:350px;
  border-radius: 10px;
}

.about-paragraph{
  margin-left: 5%;
  font-size: 20pt;
}

.about-hr{
  margin: 30px 0;
}

.about-hr{
  width: 100%;
  color: black;
}

.about-paragraph, .contact-p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.contact-p{
  font-size: 20pt;
  margin-left: 5%;
}

.contact-link, .email{
  color: #00AEEF;
  font-weight: bold;
  display: inline;
}

.contact-link:hover{
  color:orange;
}

/*skills staart*/
.skills-container, .design-container{
  display: flex;
  justify-content: space-between;
}

.skills-container{
  margin: 2rem 0;
}

.skills-img{
  width: 10%;
  height: auto;
  align-self: center;
}

.skills-header{
  display: inline;
  border-bottom: 1px solid black;
}

/*skills end*/

/*ABOUT END*/

/*RESUME*/
.resume{
  width:105%;
}

/*RESUME*/

/*PROJECT START*/
.project-nav{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.project-name{
  margin: 0 15px;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.project-image{
  width:75%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.project-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height:auto;
  background-color: lightgrey;
  text-align: center;
}

/*PROJECT END*/

@media(min-width: 750px){
  .header, .nav{
    flex-direction: row;
  }

  .nav-item{
    text-decoration: none;
  }

  .nav a{
    margin: 0 15px;
    justify-content: space-between;
  }

  .nav a:first-child{
    margin-left: 0px;
  }

  .site-logo{
    margin-left: auto;
  }

  /*ABOUT START*/
  .about-container{
    flex-direction: row;
    align-items: flex-start;
  }

  .contact-p{
    margin-left: 0;
  }
  /*ABOUT END*/

  /*PROJECTS START*/
  .projects{
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
  }

  .project-image{
    width: 100%;
    height: auto;
  }

  .project-title, .project-description{
    font-family: 'Source Sans Pro', sans-serif;
  }

  .project-title{
    font-size: 30pt;
    text-align: center;
  }

  .code{
    text-align: center;
  }

  .code a{
    color: #00AEEF;
    font-weight: bold;
  }

  .code a:hover{
    color:orange;
  }

  .project-description, .code{
    font-size: 20pt;
  }

  .project-info{
    width: 90%;
    height:auto;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    text-align: inherit;
  }
  /*PROJECTS END*/
}
